@import url('https://fonts.googleapis.com/css?family=Terminal+Dosis&display=swap');
@import "functions";

:root {
  // Global Static values
  --font-family: 'Terminal Dosis', serif;
  --theme-transition : background-color 0.5s linear, color 0.5s linear;

  // Values will be updated by ThemeContext
  // Global Theme
  --theme-background-color: whitesmoke;
  --theme-inverse-color: #323232;

  // MovingBoat values
  --boat-sea-color: "#2BE3FA";
  --boat-wave-color: "#fff";

  // ThemeToggle values
  --toggle-sun-color: "#eec413";

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--theme-background-color);
  color: var(--theme-inverse-color);
  font-family: 'Terminal Dosis', serif;
  transition: background-color 0.5s linear, color 0.5s linear;
  height: 100vh;
}


.appLayout{
  @include flex(column);
  height: 100vh;

   &-top{
    flex: .1;
  }

   &-body{
    flex: .89;
    @include flex-center(row);
  }

  &-end{
    flex : .01;
  }
}