@import "../../_global-styles/functions";

.layout{
  @include flex(column);
  height: 100vh;

  .layout-top{
    flex: .1;
  }

  .layout-body{
    flex: .89;
    @include flex-center(row);
  }

  .layout-end{
    flex : .01;
  }
}