@import "../../_global-styles/functions";

.layout {
  @include flex(column);
  height: 100vh;

  .layout-top {
    flex: .1;
  }

  .layout-body {
    @include flex-center(row);
    flex: .89;
  }

  .layout-bottom {
    flex: .01;
  }
}

@media (max-width: 500px) {
  .layout-body {
    height: 80%;
    flex: 0.7;
  }

  .layout-bottom {
    flex: .2;
  }
}
