.summerdream {
  perspective: 500px;
  transform-style: preserve-3d; }

.sea {
  position: absolute; }
  .sea .surface {
    position: absolute;
    height: 400px;
    width: 400px;
    background: var(--boat-sea-color);
    overflow: hidden;
    animation: surface 13000ms ease-in-out infinite alternate;
    transition: background-color .5s linear; }
    .sea .surface .inner {
      width: 600px;
      height: 600px;
      animation: rotateZ 20000ms linear infinite reverse; }

.ship {
  position: absolute;
  top: 180px;
  left: 180px;
  filter: drop-shadow(-30px 40px 0 rgba(42, 42, 42, 0.1)); }
  .ship .rotate {
    transform: rotateZ(10deg);
    animation: ship 30000ms linear infinite alternate; }
  .ship .human {
    position: absolute;
    top: 0;
    left: 40px; }
    .ship .human .hat {
      position: absolute;
      width: 30px;
      height: 30px;
      background: #F0F09E;
      border-radius: 100%;
      animation: hat 1000ms ease-in-out infinite alternate; }
      .ship .human .hat::before {
        content: '';
        position: absolute;
        top: 7px;
        left: 7px;
        width: 16px;
        height: 16px;
        border: 1px solid #D9845D;
        border-radius: 100%;
        box-sizing: border-box;
        transform: translateZ(5px);
        transform-style: preserve-3d; }
    .ship .human .leg {
      position: absolute;
      width: 20px;
      height: 8px;
      background: #0849A3;
      border-radius: 40%; }
      .ship .human .leg::before {
        content: '';
        position: absolute;
        left: -4px;
        width: 5px;
        height: 7px;
        background: #fff;
        border-radius: 40%; }
      .ship .human .leg.-left {
        top: 16px;
        left: -10px;
        transform: rotateZ(-5deg); }
        .ship .human .leg.-left::before {
          top: 1px; }
      .ship .human .leg.-right {
        top: 6px;
        left: -10px;
        transform: rotateZ(5deg); }
        .ship .human .leg.-right::before {
          top: -1px; }
  .ship .body {
    position: relative; }
    .ship .body .base {
      width: 100px;
      height: 30px;
      background: #D9845D;
      border-radius: 45% 45% 45% 45%; }
      .ship .body .base::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 96px;
        height: 26px;
        background: #DEAD5E;
        border-radius: 100%;
        border-radius: 45% 45% 45% 45%; }
    .ship .body .board {
      position: absolute;
      top: 5px;
      width: 10px;
      height: 20px;
      background: #D9845D;
      border-radius: 2px; }
      .ship .body .board.-front {
        right: 20px; }
      .ship .body .board.-back {
        left: 20px; }
    .ship .body .waves {
      position: absolute; }
      .ship .body .waves .wave {
        position: absolute;
        animation: wave 2000ms linear infinite; }
        .ship .body .waves .wave .graphic {
          background: var(--boat-wave-color);
          animation: surface 2000ms ease-in-out infinite alternate, rotateZ 6000ms linear infinite; }
      .ship .body .waves .bodywaves .wave:nth-child(1) {
        top: -1px;
        left: 44px;
        animation-delay: -2514ms; }
        .ship .body .waves .bodywaves .wave:nth-child(1) .graphic {
          width: 16px;
          height: 10px; }
      .ship .body .waves .bodywaves .wave:nth-child(2) {
        top: 6px;
        left: 33px;
        animation-delay: -2174ms; }
        .ship .body .waves .bodywaves .wave:nth-child(2) .graphic {
          width: 14px;
          height: 18px; }
      .ship .body .waves .bodywaves .wave:nth-child(3) {
        top: -1px;
        left: 13px;
        animation-delay: -2142ms; }
        .ship .body .waves .bodywaves .wave:nth-child(3) .graphic {
          width: 10px;
          height: 11px; }
      .ship .body .waves .bodywaves .wave:nth-child(4) {
        top: 9px;
        left: 13px;
        animation-delay: -333ms; }
        .ship .body .waves .bodywaves .wave:nth-child(4) .graphic {
          width: 12px;
          height: 12px; }
      .ship .body .waves .bodywaves .wave:nth-child(5) {
        top: 5px;
        left: 31px;
        animation-delay: -1315ms; }
        .ship .body .waves .bodywaves .wave:nth-child(5) .graphic {
          width: 10px;
          height: 15px; }
      .ship .body .waves .bodywaves .wave:nth-child(6) {
        top: 6px;
        left: 46px;
        animation-delay: -207ms; }
        .ship .body .waves .bodywaves .wave:nth-child(6) .graphic {
          width: 13px;
          height: 12px; }
      .ship .body .waves .bodywaves .wave:nth-child(7) {
        top: -1px;
        left: 24px;
        animation-delay: -1826ms; }
        .ship .body .waves .bodywaves .wave:nth-child(7) .graphic {
          width: 12px;
          height: 16px; }
      .ship .body .waves .bodywaves .wave:nth-child(8) {
        top: 8px;
        left: 51px;
        animation-delay: -1631ms; }
        .ship .body .waves .bodywaves .wave:nth-child(8) .graphic {
          width: 17px;
          height: 18px; }
      .ship .body .waves .bodywaves .wave:nth-child(9) {
        top: 11px;
        left: 42px;
        animation-delay: -3898ms; }
        .ship .body .waves .bodywaves .wave:nth-child(9) .graphic {
          width: 11px;
          height: 10px; }
      .ship .body .waves .bodywaves .wave:nth-child(10) {
        top: 7px;
        left: 56px;
        animation-delay: -3368ms; }
        .ship .body .waves .bodywaves .wave:nth-child(10) .graphic {
          width: 12px;
          height: 15px; }
      .ship .body .waves .bodywaves .wave:nth-child(11) {
        top: 11px;
        left: 39px;
        animation-delay: -1183ms; }
        .ship .body .waves .bodywaves .wave:nth-child(11) .graphic {
          width: 15px;
          height: 17px; }
      .ship .body .waves .bodywaves .wave:nth-child(12) {
        top: 8px;
        left: 60px;
        animation-delay: -3310ms; }
        .ship .body .waves .bodywaves .wave:nth-child(12) .graphic {
          width: 16px;
          height: 9px; }
      .ship .body .waves .bodywaves .wave:nth-child(13) {
        top: 17px;
        left: 48px;
        animation-delay: -1260ms; }
        .ship .body .waves .bodywaves .wave:nth-child(13) .graphic {
          width: 12px;
          height: 14px; }
      .ship .body .waves .bodywaves .wave:nth-child(14) {
        top: 15px;
        left: 36px;
        animation-delay: -3690ms; }
        .ship .body .waves .bodywaves .wave:nth-child(14) .graphic {
          width: 17px;
          height: 17px; }
      .ship .body .waves .bodywaves .wave:nth-child(15) {
        top: 13px;
        left: 17px;
        animation-delay: -2600ms; }
        .ship .body .waves .bodywaves .wave:nth-child(15) .graphic {
          width: 16px;
          height: 17px; }
      .ship .body .waves .bodywaves .wave:nth-child(16) {
        top: 7px;
        left: 46px;
        animation-delay: -3695ms; }
        .ship .body .waves .bodywaves .wave:nth-child(16) .graphic {
          width: 12px;
          height: 17px; }
      .ship .body .waves .bodywaves .wave:nth-child(17) {
        top: 10px;
        left: 31px;
        animation-delay: -2028ms; }
        .ship .body .waves .bodywaves .wave:nth-child(17) .graphic {
          width: 16px;
          height: 14px; }
      .ship .body .waves .bodywaves .wave:nth-child(18) {
        top: 0px;
        left: 50px;
        animation-delay: -22ms; }
        .ship .body .waves .bodywaves .wave:nth-child(18) .graphic {
          width: 11px;
          height: 18px; }
      .ship .body .waves .bodywaves .wave:nth-child(19) {
        top: 3px;
        left: 17px;
        animation-delay: -824ms; }
        .ship .body .waves .bodywaves .wave:nth-child(19) .graphic {
          width: 16px;
          height: 10px; }
      .ship .body .waves .bodywaves .wave:nth-child(20) {
        top: 0px;
        left: 38px;
        animation-delay: -847ms; }
        .ship .body .waves .bodywaves .wave:nth-child(20) .graphic {
          width: 10px;
          height: 12px; }
      .ship .body .waves .bodywaves .wave:nth-child(21) {
        top: 8px;
        left: 42px;
        animation-delay: -2586ms; }
        .ship .body .waves .bodywaves .wave:nth-child(21) .graphic {
          width: 9px;
          height: 12px; }
      .ship .body .waves .bodywaves .wave:nth-child(22) {
        top: 7px;
        left: 18px;
        animation-delay: -3804ms; }
        .ship .body .waves .bodywaves .wave:nth-child(22) .graphic {
          width: 13px;
          height: 10px; }
      .ship .body .waves .bodywaves .wave:nth-child(23) {
        top: 0px;
        left: 31px;
        animation-delay: -1572ms; }
        .ship .body .waves .bodywaves .wave:nth-child(23) .graphic {
          width: 18px;
          height: 10px; }
      .ship .body .waves .bodywaves .wave:nth-child(24) {
        top: 12px;
        left: 22px;
        animation-delay: -3183ms; }
        .ship .body .waves .bodywaves .wave:nth-child(24) .graphic {
          width: 18px;
          height: 10px; }
      .ship .body .waves .bodywaves .wave:nth-child(25) {
        top: 13px;
        left: 44px;
        animation-delay: -3530ms; }
        .ship .body .waves .bodywaves .wave:nth-child(25) .graphic {
          width: 18px;
          height: 12px; }
      .ship .body .waves .bodywaves .wave:nth-child(26) {
        top: 2px;
        left: 33px;
        animation-delay: -3467ms; }
        .ship .body .waves .bodywaves .wave:nth-child(26) .graphic {
          width: 15px;
          height: 13px; }
      .ship .body .waves .bodywaves .wave:nth-child(27) {
        top: 4px;
        left: 28px;
        animation-delay: -2616ms; }
        .ship .body .waves .bodywaves .wave:nth-child(27) .graphic {
          width: 15px;
          height: 16px; }
      .ship .body .waves .bodywaves .wave:nth-child(28) {
        top: 2px;
        left: 37px;
        animation-delay: -443ms; }
        .ship .body .waves .bodywaves .wave:nth-child(28) .graphic {
          width: 14px;
          height: 14px; }
      .ship .body .waves .bodywaves .wave:nth-child(29) {
        top: 11px;
        left: 34px;
        animation-delay: -3187ms; }
        .ship .body .waves .bodywaves .wave:nth-child(29) .graphic {
          width: 14px;
          height: 17px; }
      .ship .body .waves .bodywaves .wave:nth-child(30) {
        top: 10px;
        left: 25px;
        animation-delay: -3114ms; }
        .ship .body .waves .bodywaves .wave:nth-child(30) .graphic {
          width: 14px;
          height: 15px; }
      .ship .body .waves .bodywaves .wave:nth-child(31) {
        top: 13px;
        left: 20px;
        animation-delay: -634ms; }
        .ship .body .waves .bodywaves .wave:nth-child(31) .graphic {
          width: 15px;
          height: 18px; }
      .ship .body .waves .bodywaves .wave:nth-child(32) {
        top: 0px;
        left: 22px;
        animation-delay: -3945ms; }
        .ship .body .waves .bodywaves .wave:nth-child(32) .graphic {
          width: 15px;
          height: 16px; }
      .ship .body .waves .bodywaves .wave:nth-child(33) {
        top: 11px;
        left: 32px;
        animation-delay: -2075ms; }
        .ship .body .waves .bodywaves .wave:nth-child(33) .graphic {
          width: 18px;
          height: 11px; }
      .ship .body .waves .bodywaves .wave:nth-child(34) {
        top: 7px;
        left: 20px;
        animation-delay: -260ms; }
        .ship .body .waves .bodywaves .wave:nth-child(34) .graphic {
          width: 9px;
          height: 12px; }
      .ship .body .waves .bodywaves .wave:nth-child(35) {
        top: 9px;
        left: 22px;
        animation-delay: -2920ms; }
        .ship .body .waves .bodywaves .wave:nth-child(35) .graphic {
          width: 17px;
          height: 12px; }
      .ship .body .waves .bodywaves .wave:nth-child(36) {
        top: 5px;
        left: 59px;
        animation-delay: -3269ms; }
        .ship .body .waves .bodywaves .wave:nth-child(36) .graphic {
          width: 9px;
          height: 16px; }
      .ship .body .waves .bodywaves .wave:nth-child(37) {
        top: 13px;
        left: 49px;
        animation-delay: -861ms; }
        .ship .body .waves .bodywaves .wave:nth-child(37) .graphic {
          width: 16px;
          height: 11px; }
      .ship .body .waves .bodywaves .wave:nth-child(38) {
        top: 9px;
        left: 56px;
        animation-delay: -2525ms; }
        .ship .body .waves .bodywaves .wave:nth-child(38) .graphic {
          width: 15px;
          height: 9px; }
      .ship .body .waves .bodywaves .wave:nth-child(39) {
        top: 13px;
        left: 34px;
        animation-delay: -570ms; }
        .ship .body .waves .bodywaves .wave:nth-child(39) .graphic {
          width: 17px;
          height: 13px; }
      .ship .body .waves .bodywaves .wave:nth-child(40) {
        top: 3px;
        left: 45px;
        animation-delay: -65ms; }
        .ship .body .waves .bodywaves .wave:nth-child(40) .graphic {
          width: 14px;
          height: 14px; }
      .ship .body .waves .bodywaves .wave:nth-child(41) {
        top: 13px;
        left: 34px;
        animation-delay: -293ms; }
        .ship .body .waves .bodywaves .wave:nth-child(41) .graphic {
          width: 17px;
          height: 17px; }
      .ship .body .waves .bodywaves .wave:nth-child(42) {
        top: 0px;
        left: 30px;
        animation-delay: -2434ms; }
        .ship .body .waves .bodywaves .wave:nth-child(42) .graphic {
          width: 18px;
          height: 13px; }
      .ship .body .waves .bodywaves .wave:nth-child(43) {
        top: 11px;
        left: 37px;
        animation-delay: -2215ms; }
        .ship .body .waves .bodywaves .wave:nth-child(43) .graphic {
          width: 12px;
          height: 12px; }
      .ship .body .waves .bodywaves .wave:nth-child(44) {
        top: 13px;
        left: 13px;
        animation-delay: -2959ms; }
        .ship .body .waves .bodywaves .wave:nth-child(44) .graphic {
          width: 17px;
          height: 16px; }
      .ship .body .waves .bodywaves .wave:nth-child(45) {
        top: 5px;
        left: 24px;
        animation-delay: -656ms; }
        .ship .body .waves .bodywaves .wave:nth-child(45) .graphic {
          width: 16px;
          height: 16px; }
      .ship .body .waves .bodywaves .wave:nth-child(46) {
        top: -2px;
        left: 52px;
        animation-delay: -3559ms; }
        .ship .body .waves .bodywaves .wave:nth-child(46) .graphic {
          width: 9px;
          height: 13px; }
      .ship .body .waves .bodywaves .wave:nth-child(47) {
        top: -2px;
        left: 24px;
        animation-delay: -795ms; }
        .ship .body .waves .bodywaves .wave:nth-child(47) .graphic {
          width: 11px;
          height: 17px; }
      .ship .body .waves .bodywaves .wave:nth-child(48) {
        top: -2px;
        left: 47px;
        animation-delay: -2752ms; }
        .ship .body .waves .bodywaves .wave:nth-child(48) .graphic {
          width: 18px;
          height: 17px; }
      .ship .body .waves .bodywaves .wave:nth-child(49) {
        top: 12px;
        left: 51px;
        animation-delay: -1330ms; }
        .ship .body .waves .bodywaves .wave:nth-child(49) .graphic {
          width: 13px;
          height: 11px; }
      .ship .body .waves .bodywaves .wave:nth-child(50) {
        top: 0px;
        left: 30px;
        animation-delay: -1044ms; }
        .ship .body .waves .bodywaves .wave:nth-child(50) .graphic {
          width: 10px;
          height: 13px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(1) {
        top: -17px;
        left: 46px;
        animation-delay: -1272ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(1) .graphic {
          width: 10px;
          height: 8px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(2) {
        top: -15px;
        left: 43px;
        animation-delay: -1439ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(2) .graphic {
          width: 10px;
          height: 9px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(3) {
        top: -23px;
        left: 41px;
        animation-delay: -1169ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(3) .graphic {
          width: 6px;
          height: 7px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(4) {
        top: -25px;
        left: 48px;
        animation-delay: -1410ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(4) .graphic {
          width: 10px;
          height: 6px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(5) {
        top: -15px;
        left: 49px;
        animation-delay: -1475ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(5) .graphic {
          width: 10px;
          height: 9px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(6) {
        top: -15px;
        left: 49px;
        animation-delay: -1282ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(6) .graphic {
          width: 8px;
          height: 9px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(7) {
        top: -15px;
        left: 48px;
        animation-delay: -1635ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(7) .graphic {
          width: 9px;
          height: 9px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(8) {
        top: -20px;
        left: 48px;
        animation-delay: -1104ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(8) .graphic {
          width: 9px;
          height: 7px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(9) {
        top: -16px;
        left: 49px;
        animation-delay: -1730ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(9) .graphic {
          width: 8px;
          height: 7px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(10) {
        top: -20px;
        left: 49px;
        animation-delay: -1612ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(10) .graphic {
          width: 8px;
          height: 8px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(11) {
        top: -29px;
        left: 42px;
        animation-delay: -1568ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(11) .graphic {
          width: 6px;
          height: 8px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(12) {
        top: -18px;
        left: 46px;
        animation-delay: -1374ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(12) .graphic {
          width: 6px;
          height: 10px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(13) {
        top: -28px;
        left: 47px;
        animation-delay: -1788ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(13) .graphic {
          width: 6px;
          height: 8px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(14) {
        top: -21px;
        left: 47px;
        animation-delay: -1100ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(14) .graphic {
          width: 10px;
          height: 9px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(15) {
        top: -15px;
        left: 49px;
        animation-delay: -1153ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(15) .graphic {
          width: 7px;
          height: 10px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(16) {
        top: -28px;
        left: 46px;
        animation-delay: -1603ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(16) .graphic {
          width: 8px;
          height: 7px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(17) {
        top: -15px;
        left: 50px;
        animation-delay: -1054ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(17) .graphic {
          width: 6px;
          height: 7px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(18) {
        top: -17px;
        left: 46px;
        animation-delay: -1551ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(18) .graphic {
          width: 6px;
          height: 6px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(19) {
        top: -16px;
        left: 43px;
        animation-delay: -1695ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(19) .graphic {
          width: 9px;
          height: 9px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(20) {
        top: -10px;
        left: 44px;
        animation-delay: -1274ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(20) .graphic {
          width: 7px;
          height: 8px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(21) {
        top: -21px;
        left: 44px;
        animation-delay: -1573ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(21) .graphic {
          width: 7px;
          height: 9px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(22) {
        top: -25px;
        left: 45px;
        animation-delay: -1286ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(22) .graphic {
          width: 8px;
          height: 7px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(23) {
        top: -27px;
        left: 45px;
        animation-delay: -1237ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(23) .graphic {
          width: 10px;
          height: 8px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(24) {
        top: -28px;
        left: 46px;
        animation-delay: -1499ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(24) .graphic {
          width: 7px;
          height: 10px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(25) {
        top: -12px;
        left: 41px;
        animation-delay: -1737ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(25) .graphic {
          width: 7px;
          height: 8px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(26) {
        top: -28px;
        left: 44px;
        animation-delay: -1338ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(26) .graphic {
          width: 6px;
          height: 8px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(27) {
        top: -17px;
        left: 41px;
        animation-delay: -1225ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(27) .graphic {
          width: 7px;
          height: 9px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(28) {
        top: -16px;
        left: 46px;
        animation-delay: -1299ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(28) .graphic {
          width: 7px;
          height: 6px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(29) {
        top: -24px;
        left: 50px;
        animation-delay: -1102ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(29) .graphic {
          width: 6px;
          height: 10px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(30) {
        top: -22px;
        left: 47px;
        animation-delay: -1341ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(30) .graphic {
          width: 10px;
          height: 8px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(31) {
        top: -16px;
        left: 45px;
        animation-delay: -1290ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(31) .graphic {
          width: 9px;
          height: 6px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(32) {
        top: -18px;
        left: 45px;
        animation-delay: -1098ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(32) .graphic {
          width: 10px;
          height: 7px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(33) {
        top: -17px;
        left: 46px;
        animation-delay: -1090ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(33) .graphic {
          width: 10px;
          height: 10px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(34) {
        top: -18px;
        left: 41px;
        animation-delay: -1660ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(34) .graphic {
          width: 10px;
          height: 6px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(35) {
        top: -26px;
        left: 42px;
        animation-delay: -1758ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(35) .graphic {
          width: 7px;
          height: 10px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(36) {
        top: -29px;
        left: 48px;
        animation-delay: -1074ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(36) .graphic {
          width: 8px;
          height: 9px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(37) {
        top: -12px;
        left: 41px;
        animation-delay: -1574ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(37) .graphic {
          width: 6px;
          height: 8px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(38) {
        top: -22px;
        left: 41px;
        animation-delay: -1677ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(38) .graphic {
          width: 6px;
          height: 10px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(39) {
        top: -15px;
        left: 46px;
        animation-delay: -1398ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(39) .graphic {
          width: 8px;
          height: 8px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(40) {
        top: -23px;
        left: 47px;
        animation-delay: -1230ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(40) .graphic {
          width: 9px;
          height: 7px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(41) {
        top: -12px;
        left: 48px;
        animation-delay: -1265ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(41) .graphic {
          width: 7px;
          height: 10px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(42) {
        top: -18px;
        left: 50px;
        animation-delay: -1224ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(42) .graphic {
          width: 7px;
          height: 8px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(43) {
        top: -12px;
        left: 46px;
        animation-delay: -1406ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(43) .graphic {
          width: 6px;
          height: 8px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(44) {
        top: -12px;
        left: 44px;
        animation-delay: -1339ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(44) .graphic {
          width: 10px;
          height: 8px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(45) {
        top: -10px;
        left: 48px;
        animation-delay: -1495ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(45) .graphic {
          width: 6px;
          height: 7px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(46) {
        top: -26px;
        left: 44px;
        animation-delay: -1711ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(46) .graphic {
          width: 7px;
          height: 6px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(47) {
        top: -19px;
        left: 41px;
        animation-delay: -1568ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(47) .graphic {
          width: 9px;
          height: 6px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(48) {
        top: -29px;
        left: 43px;
        animation-delay: -1281ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(48) .graphic {
          width: 8px;
          height: 9px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(49) {
        top: -18px;
        left: 50px;
        animation-delay: -1260ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(49) .graphic {
          width: 10px;
          height: 9px; }
      .ship .body .waves .oarwaves.-left .wave:nth-child(50) {
        top: -20px;
        left: 44px;
        animation-delay: -1678ms; }
        .ship .body .waves .oarwaves.-left .wave:nth-child(50) .graphic {
          width: 6px;
          height: 7px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(1) {
        top: 51px;
        left: 45px;
        animation-delay: -1287ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(1) .graphic {
          width: 9px;
          height: 8px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(2) {
        top: 40px;
        left: 45px;
        animation-delay: -1339ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(2) .graphic {
          width: 7px;
          height: 6px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(3) {
        top: 51px;
        left: 50px;
        animation-delay: -1114ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(3) .graphic {
          width: 8px;
          height: 8px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(4) {
        top: 53px;
        left: 43px;
        animation-delay: -1404ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(4) .graphic {
          width: 10px;
          height: 8px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(5) {
        top: 49px;
        left: 43px;
        animation-delay: -1076ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(5) .graphic {
          width: 7px;
          height: 9px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(6) {
        top: 46px;
        left: 45px;
        animation-delay: -1180ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(6) .graphic {
          width: 8px;
          height: 6px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(7) {
        top: 46px;
        left: 46px;
        animation-delay: -1204ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(7) .graphic {
          width: 7px;
          height: 9px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(8) {
        top: 47px;
        left: 47px;
        animation-delay: -1134ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(8) .graphic {
          width: 6px;
          height: 10px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(9) {
        top: 55px;
        left: 49px;
        animation-delay: -1717ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(9) .graphic {
          width: 8px;
          height: 10px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(10) {
        top: 37px;
        left: 47px;
        animation-delay: -1700ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(10) .graphic {
          width: 6px;
          height: 6px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(11) {
        top: 42px;
        left: 45px;
        animation-delay: -1086ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(11) .graphic {
          width: 10px;
          height: 8px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(12) {
        top: 53px;
        left: 46px;
        animation-delay: -1618ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(12) .graphic {
          width: 7px;
          height: 9px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(13) {
        top: 38px;
        left: 42px;
        animation-delay: -1265ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(13) .graphic {
          width: 6px;
          height: 9px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(14) {
        top: 45px;
        left: 42px;
        animation-delay: -1011ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(14) .graphic {
          width: 7px;
          height: 9px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(15) {
        top: 41px;
        left: 46px;
        animation-delay: -1123ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(15) .graphic {
          width: 9px;
          height: 9px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(16) {
        top: 37px;
        left: 43px;
        animation-delay: -1691ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(16) .graphic {
          width: 6px;
          height: 9px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(17) {
        top: 40px;
        left: 49px;
        animation-delay: -1035ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(17) .graphic {
          width: 9px;
          height: 9px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(18) {
        top: 54px;
        left: 43px;
        animation-delay: -1526ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(18) .graphic {
          width: 7px;
          height: 9px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(19) {
        top: 42px;
        left: 47px;
        animation-delay: -1339ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(19) .graphic {
          width: 6px;
          height: 7px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(20) {
        top: 46px;
        left: 41px;
        animation-delay: -1526ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(20) .graphic {
          width: 10px;
          height: 8px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(21) {
        top: 41px;
        left: 42px;
        animation-delay: -1571ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(21) .graphic {
          width: 9px;
          height: 7px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(22) {
        top: 37px;
        left: 48px;
        animation-delay: -1126ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(22) .graphic {
          width: 8px;
          height: 7px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(23) {
        top: 47px;
        left: 45px;
        animation-delay: -1226ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(23) .graphic {
          width: 9px;
          height: 6px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(24) {
        top: 40px;
        left: 45px;
        animation-delay: -1721ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(24) .graphic {
          width: 7px;
          height: 9px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(25) {
        top: 48px;
        left: 45px;
        animation-delay: -1010ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(25) .graphic {
          width: 7px;
          height: 6px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(26) {
        top: 45px;
        left: 47px;
        animation-delay: -1202ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(26) .graphic {
          width: 10px;
          height: 7px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(27) {
        top: 40px;
        left: 43px;
        animation-delay: -1591ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(27) .graphic {
          width: 9px;
          height: 10px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(28) {
        top: 46px;
        left: 44px;
        animation-delay: -1558ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(28) .graphic {
          width: 6px;
          height: 6px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(29) {
        top: 39px;
        left: 45px;
        animation-delay: -1365ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(29) .graphic {
          width: 10px;
          height: 9px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(30) {
        top: 41px;
        left: 43px;
        animation-delay: -1094ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(30) .graphic {
          width: 9px;
          height: 10px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(31) {
        top: 54px;
        left: 50px;
        animation-delay: -1635ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(31) .graphic {
          width: 8px;
          height: 6px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(32) {
        top: 41px;
        left: 41px;
        animation-delay: -1332ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(32) .graphic {
          width: 8px;
          height: 8px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(33) {
        top: 40px;
        left: 50px;
        animation-delay: -1167ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(33) .graphic {
          width: 8px;
          height: 7px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(34) {
        top: 37px;
        left: 43px;
        animation-delay: -1070ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(34) .graphic {
          width: 8px;
          height: 8px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(35) {
        top: 48px;
        left: 49px;
        animation-delay: -1385ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(35) .graphic {
          width: 7px;
          height: 10px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(36) {
        top: 45px;
        left: 43px;
        animation-delay: -1346ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(36) .graphic {
          width: 7px;
          height: 9px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(37) {
        top: 48px;
        left: 43px;
        animation-delay: -1219ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(37) .graphic {
          width: 10px;
          height: 7px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(38) {
        top: 52px;
        left: 49px;
        animation-delay: -1438ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(38) .graphic {
          width: 7px;
          height: 9px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(39) {
        top: 38px;
        left: 48px;
        animation-delay: -1593ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(39) .graphic {
          width: 10px;
          height: 6px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(40) {
        top: 45px;
        left: 48px;
        animation-delay: -1737ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(40) .graphic {
          width: 9px;
          height: 7px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(41) {
        top: 41px;
        left: 45px;
        animation-delay: -1149ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(41) .graphic {
          width: 8px;
          height: 7px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(42) {
        top: 37px;
        left: 44px;
        animation-delay: -1794ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(42) .graphic {
          width: 10px;
          height: 8px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(43) {
        top: 36px;
        left: 48px;
        animation-delay: -1010ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(43) .graphic {
          width: 8px;
          height: 8px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(44) {
        top: 46px;
        left: 43px;
        animation-delay: -1079ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(44) .graphic {
          width: 8px;
          height: 10px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(45) {
        top: 51px;
        left: 50px;
        animation-delay: -1792ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(45) .graphic {
          width: 10px;
          height: 7px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(46) {
        top: 42px;
        left: 49px;
        animation-delay: -1698ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(46) .graphic {
          width: 7px;
          height: 8px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(47) {
        top: 49px;
        left: 47px;
        animation-delay: -1524ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(47) .graphic {
          width: 10px;
          height: 7px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(48) {
        top: 38px;
        left: 45px;
        animation-delay: -1545ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(48) .graphic {
          width: 10px;
          height: 10px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(49) {
        top: 43px;
        left: 46px;
        animation-delay: -1220ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(49) .graphic {
          width: 9px;
          height: 10px; }
      .ship .body .waves .oarwaves.-right .wave:nth-child(50) {
        top: 48px;
        left: 46px;
        animation-delay: -1484ms; }
        .ship .body .waves .oarwaves.-right .wave:nth-child(50) .graphic {
          width: 6px;
          height: 10px; }
  .ship .oars {
    position: absolute;
    top: -30px;
    left: 50px;
    transform: translateZ(10px); }
    .ship .oars .graphic {
      position: relative;
      width: 3px;
      height: 40px;
      background: #D9845D;
      animation: oarGraphic 1000ms ease-in-out infinite alternate; }
      .ship .oars .graphic::before {
        content: '';
        position: absolute;
        top: 0;
        left: -3px;
        width: 9px;
        height: 15px;
        background: #D9845D;
        border-radius: 5px 5px 100% 100%; }
    .ship .oars .oar {
      position: absolute;
      top: 0;
      left: 50%; }
      .ship .oars .oar.-right {
        transform-origin: 50% 45px;
        transform: scaleY(-1); }
    .ship .oars .row {
      position: absolute;
      animation: row 1000ms ease-in-out infinite alternate;
      transform-origin: 50% 35px; }
    .ship .oars .depth {
      animation: depth 1000ms ease-in-out infinite alternate;
      transform-origin: 50% 35px;
      animation-delay: -500ms; }

@keyframes surface {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; }
  25% {
    border-radius: 65% 35% 51% 49% / 49% 52% 48% 51%; }
  50% {
    border-radius: 42% 58% 28% 72% / 65% 34% 66% 35%; }
  75% {
    border-radius: 34% 66% 63% 37% / 77% 38% 62% 23%; }
  100% {
    border-radius: 24% 76% 72% 28% / 53% 68% 32% 47%; } }
@keyframes rotateZ {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }
@keyframes ship {
  0% {
    transform: rotateZ(20deg); }
  100% {
    transform: rotateZ(-20deg); } }
@keyframes move {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(5px); } }
@keyframes wave {
  0% {
    transform: translateX(0) scale(0); }
  10% {
    transform: translateX(-10px) scale(1); }
  100% {
    transform: translateX(-130px) scale(0); } }
@keyframes depth {
  0% {
    transform: rotateX(-20deg); }
  100% {
    transform: rotateX(50deg); } }
@keyframes row {
  0% {
    transform: rotateZ(20deg); }
  100% {
    transform: rotateZ(-50deg); } }
@keyframes oarGraphic {
  0% {
    transform: rotateY(-60deg); }
  100% {
    transform: rotateY(-110deg); } }
@keyframes hat {
  0% {
    transform: translateZ(30px) translateX(-5px) rotateY(-20deg); }
  100% {
    transform: translateZ(30px) translateX(0) rotateY(20deg); } }

/*# sourceMappingURL=moving-boat.css.map */
