$size: 50px;

.themeToggle {
  width: $size;

  .themeToggle-mask {
    width: $size;
    height: $size;
    overflow: hidden;

    .themeToggle-icon-wrapper {
      padding: $size/4;
      transition: all 300ms 400ms ease;

      &:last-child {
        transform: translatey(-$size);
      }
    }

    .themeToggle-icon {
      width: $size/2;
      height: $size/2;
      border-radius: 50%;
      background-color: var(--theme-inverse-color);

    }

    .themeToggle-active {
      transition-delay: 100ms;

      &:first-child {
        transform: translateY($size);
      }

      &:last-child {
        transform: translateY(0);
      }
    }

  }

  .themeToggle-bar {
    width: 40%;
    height: 5px;
    margin: 0 auto;
    background-color: var(--theme-inverse-color);
    transition: all 300ms 100ms ease;
  }
}
