
.hidden {
  opacity:0;
}

.console-container {
  font-size:5vw;
  font-weight: 500;
  color: var(--theme-inverse-color);
  .console-underscore {
    color: var(--theme-inverse-color);
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }
}

@media only screen and (max-width: 920px) {

  .console-container {
    font-size:50px;
  }
}

