
.name-loading {
  display: flex;

  &_name {
    color: var(--theme-background-color);
    font-size: 6vw;
    position: relative;
    -webkit-text-stroke: 1px var(--theme-inverse-color);

    &::before {
      animation: animate 6s linear infinite;
      border-right: 2px solid var(--theme-inverse-color);
      color: var(--theme-inverse-color);
      content: attr(data-text);
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 0;
    }

  }

}

@keyframes animate {
  0% {
    width: 0;
  }

  70% {
    width: 100%;
  }
}
