.nrt-letters .nrt-letter {
  width: 1vw;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: 0 0;
  font-family: sans-serif;
  font-size: 1vw;
  font-weight: 600;
  line-height: 1vw;
  text-transform: uppercase; }
  .nrt-letters .nrt-letter:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    word-break: break-all;
    background-color: var(--theme-background-color); }

.nrt-letter:nth-child(1):before {
  content: "1268950374";
  margin-top: -5vw;
  animation-name: letter1;
  animation-duration: 1.3s;
  animation-delay: 0.61s;
  animation-fill-mode: forwards; }

@keyframes letter1 {
  from {
    margin-top: -5vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(2):before {
  content: "0267349185";
  margin-top: -8vw;
  animation-name: letter2;
  animation-duration: 1.3155555556s;
  animation-delay: 0.63s;
  animation-fill-mode: forwards; }

@keyframes letter2 {
  from {
    margin-top: -8vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(3):before {
  content: "4306751982";
  margin-top: 0vw;
  animation-name: letter3;
  animation-duration: 0s;
  animation-delay: 0.98s;
  animation-fill-mode: forwards; }

@keyframes letter3 {
  from {
    margin-top: 0vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(4):before {
  content: "3054129768";
  margin-top: -5vw;
  animation-name: letter4;
  animation-duration: 1.4333333333s;
  animation-delay: 0.57s;
  animation-fill-mode: forwards; }

@keyframes letter4 {
  from {
    margin-top: -5vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(5):before {
  content: "7152486930";
  margin-top: -5vw;
  animation-name: letter5;
  animation-duration: 1.9666666667s;
  animation-delay: 0.41s;
  animation-fill-mode: forwards; }

@keyframes letter5 {
  from {
    margin-top: -5vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(6):before {
  content: "1402378956";
  margin-top: -3vw;
  animation-name: letter6;
  animation-duration: 1.77s;
  animation-delay: 0.41s;
  animation-fill-mode: forwards; }

@keyframes letter6 {
  from {
    margin-top: -3vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(7):before {
  content: "6239815704";
  margin-top: -5vw;
  animation-name: letter7;
  animation-duration: 2.1333333333s;
  animation-delay: 0.36s;
  animation-fill-mode: forwards; }

@keyframes letter7 {
  from {
    margin-top: -5vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(8):before {
  content: "9305126487";
  margin-top: -1vw;
  animation-name: letter8;
  animation-duration: 1.42s;
  animation-delay: 0.29s;
  animation-fill-mode: forwards; }

@keyframes letter8 {
  from {
    margin-top: -1vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(9):before {
  content: "1453927086";
  margin-top: -6vw;
  animation-name: letter9;
  animation-duration: 2.8114285714s;
  animation-delay: 0.18s;
  animation-fill-mode: forwards; }

@keyframes letter9 {
  from {
    margin-top: -6vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(10):before {
  content: "7896024513";
  margin-top: -1vw;
  animation-name: letter10;
  animation-duration: 1.94s;
  animation-delay: 0.03s;
  animation-fill-mode: forwards; }

@keyframes letter10 {
  from {
    margin-top: -1vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(11):before {
  content: "5208471936";
  margin-top: -1vw;
  animation-name: letter11;
  animation-duration: 0.58s;
  animation-delay: 0.71s;
  animation-fill-mode: forwards; }

@keyframes letter11 {
  from {
    margin-top: -1vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(12):before {
  content: "0485961723";
  margin-top: -3vw;
  animation-name: letter12;
  animation-duration: 1.47s;
  animation-delay: 0.51s;
  animation-fill-mode: forwards; }

@keyframes letter12 {
  from {
    margin-top: -3vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(13):before {
  content: "1065824739";
  margin-top: -9vw;
  animation-name: letter13;
  animation-duration: 2.448s;
  animation-delay: 0.32s;
  animation-fill-mode: forwards; }

@keyframes letter13 {
  from {
    margin-top: -9vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(14):before {
  content: "6415083972";
  margin-top: -9vw;
  animation-name: letter14;
  animation-duration: 2.376s;
  animation-delay: 0.34s;
  animation-fill-mode: forwards; }

@keyframes letter14 {
  from {
    margin-top: -9vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(15):before {
  content: "6791035824";
  margin-top: -6vw;
  animation-name: letter15;
  animation-duration: 2.0571428571s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards; }

@keyframes letter15 {
  from {
    margin-top: -6vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(16):before {
  content: "6157083924";
  margin-top: -6vw;
  animation-name: letter16;
  animation-duration: 1.0628571429s;
  animation-delay: 0.69s;
  animation-fill-mode: forwards; }

@keyframes letter16 {
  from {
    margin-top: -6vw; }
  to {
    margin-top: 1vw; } }
.nrt-letter:nth-child(17):before {
  content: "5136907284";
  margin-top: -2vw;
  animation-name: letter17;
  animation-duration: 1.6533333333s;
  animation-delay: 0.38s;
  animation-fill-mode: forwards; }

@keyframes letter17 {
  from {
    margin-top: -2vw; }
  to {
    margin-top: 1vw; } }

/*# sourceMappingURL=number-rolling-text.css.map */
